body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container {
    width: 750px;
    height: 750px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}

.square {
    margin: 0px;
    border: 1px solid black;
}

